@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


:root{

    /* cores */
    --color-header: #022A38;
    --branco: #FFFFFF;
    --preto: #000000;
    --color-footer: #80A8B6;
    --fundos: #D1DCE0;
    --color-buttons: #4B7A8B;

    /* fontes */
    --jost-header-footer-and-title: "Jost", sans-serif;
    --jaldi-produtos: "Jaldi", sans-serif;;

}