/* header */
.header{

    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;

    position: absolute;
    position: fixed;
    top: 0;
    
    background-color: var(--color-header);
    font-family: var(--jost-font);
    font-weight: 600;

    z-index: 2;

}

.header__logo a{

    text-decoration: none;
}

.header__logo, .header__logo-img .header__logo-text{

    width: 100px;
    height: 80px;

    position: relative;
    left: 20px;
 
}

/* logo - header */
figure, .header__logo-img{

    width: 72px;
    height: 72px;

}

/* nome do site */
.header__logo-text{

    color: var(--branco);

}

.menu-toggle {
    display: none; 
    font-size: 30px;
    background: none;
    border: none;
    color: var(--branco);
    cursor: pointer;
    margin-left: 20px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* ------------------------------------------------------------------- */

/* container central do header - categorias */
.header__categorias{

    display: flex;
    gap: 25px;

    color: var(--branco);
    align-items: center;
}

.header__categorias a{

    text-decoration: none;
    color: var(--branco);

}

.header__categorias a h2.header__btn-categorias {

    color: var(--branco); 
    font-size: 1.5em; 
    margin: 0; 
 
}


/* ------------------------------------------------------------------- */

/* container direito do header */


.header__actions{

    display: flex;
    gap: 25px;

    color: var(--branco);
    align-items: center;

    position: relative;
    right: 10px;

    gap: 30px;
    
}

.header__direito-btns{

    display: flex;
    gap: 30px;
    
}

.header__direito-btns a{

    text-decoration: none;
    color: var(--branco);

}

.header__direito-btns a h2.header__btn--deslogar,
.header__direito-btns a h2.header__btn--login {

    color: var(--branco); 
    font-size: 1.5em; 
    margin: 0;

}


.header__actions h2.header__name-usuario {

    color: var(--branco);
    font-size: 1.5em; 
    margin: 0; 

    font-weight: bold;

}


.icon-size{

    font-size: 25px;
    position: relative;
    top: 6px;

}

.header__btn--deslogar-mobile,
.header__btn--login-mobile {
    display: none;
}

.header__btn--deslogar-desktop {
    display: block; 
}


/* --------------------------FOOTER----------------------------------------- */

.footer-section{
    width: 100%;
    height: 40px;

    background-color: var(--color-footer);

    position: fixed;
    bottom: 0;

    align-items: center;
    justify-content: center;

    justify-content: space-between;

    display: flex;
    justify-content: space-between;

    font-family: var(--jost-font);
    font-weight: 600;
}

.footer__lado--esquerdo{

    position: relative;
    left: 24px;

}

.footer-section .footer__lado--direito {

    display: flex; 
    gap: 40px; 
  
}

.footer__lado--direito, span{

    display: flex; 
    gap: 5px;
    align-items: center;

    position: relative;
    right: 10px;
  
}

.fa-envelope{
    position: relative;
    left: 20px;
    top: 1px;
    
}

.fa-instagram{
    position: relative;
    left: 20px;
}

/* responsividade */

@media (max-width: 768px) {

    /* header responsivo com menu toggle */
    .menu-toggle {
        display: block; 
    }
    .header__categorias {
        display: none; 
        flex-direction: column; 
        position: absolute; 
        top: 100px; 
        left: 0;
        right: 0;
        background-color: var(--color-header); 
        padding: 10px 0; 
    }
    .header__categorias.active {
        display: flex; 
    }

    .header__btn--deslogar-mobile,
    .header__btn--login-mobile {
        display: block;
    }

    .header__btn--deslogar-desktop {
        display: none; 
    }

    /* footer responsivo */
    .footer-section {
        height: auto; 
        padding: 10px; 
        gap: 10px; 
        text-align: center; 
    }

    .footer__lado--esquerdo {
        position: static; 
        left: auto; 
        margin-bottom: 5px; 
        justify-items: end;
        margin-left: 10px;
    }

    .footer-section .footer__lado--direito {
        margin-right: 10px;
        gap: 5px; 
        align-items: center; 
        position: static; 
        right: auto; 
    }

    .footer__lado--direito span{
        display: none;
    }

    .footer__lado--direito i{
        margin-right: 10px;
    }
}





.header__padding-categorias{
    padding-top:2px;
}

.header__padding-carrinho{
    position: relative;
    bottom: 4px;
}

.header__fonte-bold{
    font-weight: 700;
}


.footer__padding{
    padding-top:2px;
}

.footer__fonte-bold{
    color: var(--preto);
    font-weight: 600;
    font-family: var(--font-size-smaller);
}