/* formata o main e alinha o form */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 140px);
    box-sizing: border-box;
    margin-top: 70px;
    font-family: var(--jost-font);
}

/* formulario principal */
.main__login {
    width: 680px; 
    height: auto; 
    border-radius: var(--border-radius-standard);
    background: var(--fundos); 
    padding: 30px 50px 40px 50px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 60px;

    align-items: center;    
    justify-content: center; 
    justify-items: center;
    align-content: center;
    
}


.main__titulo {
    color: var(--preto);
    font-size: var(--font-size-larger);
    font-weight: 700;
    margin-bottom: 40px; 
    padding: 0; 
    width: 100%; 
    text-align: center; 
}


.main__formulario--login {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    margin-bottom: 30px; 
    padding: 0;
}

.main__formulario--login input{
    margin-bottom: 30px;   
    width: 100%; 
    max-width: 590px; 
    height: var(--height-input);
    border-radius: var(--border-radius-standard);
    background: var(--branco); 
    border: none;
    padding: 0 20px; 
    box-sizing: border-box; 
    font-size: var(--font-size-smaller); 
}

.main__formulario--login label{
    width: auto;
    height: auto;
    color: var(--preto);
    font-size: var(--font-size-medium);
    font-weight: 400;
    line-height: normal;
    display: block; 
    margin-bottom: 10px; 
    text-align: left;     
}

.main__formulario--container-login__btn--logar { 
    display: flex;
    justify-content: center; 
    width: 100%; 
    margin-top: 20px; 
}

.main__formulario-login__btn--logar {
    width: 403px; 
    height: 52px;
    border-radius: var(--border-radius-standard);
    background: var(--color-buttons); 
    color: #FFF;
    font-size: var(--font-size-medium);
    font-weight: 600;
    border: none;
    cursor: pointer;
}


.main__formulario-login__cadastro--link {
    width: 100%; 
    height: auto;
    font-size: var(--font-size-smaller);
    font-style: normal;
    text-align: center; 
    color: var(--preto); 
    margin-top: 0; 
    display: block; 
}

.main__formulario-login__cadastro--link a {
    color: var(--preto); 
    font-weight: 600; 
}

/* responsividade */

@media (max-width: 768px) {
    .main__login {
        width: 95%; 
        max-width: 380px; 
        padding: 20px 30px; 
        margin-bottom: 50px;
    }

    .main__formulario--login input {
        max-width: 100%; 
    }

    .main__formulario-login__btn--logar {
        width: 100%; 
    }
}
