/* formatação geral */
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* header */
.header-container{

    width: 100vw;
    height: 80px;

    display: flex;

    background-color: var(--color-header);

}

/* logo - header */
figure, .logo{

    width: 58px;
    height: 58px;
}

/* nome do site */
.header__website-name{

    color: var(--branco);
    
}

/* container esquerdo do header */
.header__lado-esquerdo{

    width: 100px;
    height: 80px;
  
    align-content: center;
    justify-items: center;

}

/* container central do header */
.header__categorias{

    display: flex;
    gap: 25px;

    color: var(--branco);
    align-items: center;
}

/* container direito do header */
.header__lado-direito{

    display: flex;
    gap: 25px;

    color: var(--branco);
    align-items: center;

    

}

.header__btn-login, .header__btn-sair{

    width: 200;
    height: 50px;

    font-size: large;

    color: var(--branco);
    text-decoration: none;

    justify-content:end;

} 